<template>
  <div v-if="ready">
    <sidebar-component v-if="this.isLoggedIn"></sidebar-component>
    <div :class="this.mainClass">
      <navbar-component></navbar-component>
      <div class="py-2 mt-16 h-full">
        <router-view/>
      </div>
    </div>
  </div>
  <div v-else>
    <h1>Loading...</h1>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import NavbarComponent from '@/components/nav/Navbar.vue';
import SidebarComponent from '@/components/nav/Sidebar.vue';
import session from '@/store/session-store';

export default defineComponent({
  name: 'App',
  components: {
    NavbarComponent,
    SidebarComponent
  },
  data: function () {
    return {
      ready: false
    };
  },
  created() {
    this.ready = true;
  },
  computed: {
    isLoggedIn: function () {
      return session.isLoggedIn();
    },
    mainClass: function () {
      if (!this.isLoggedIn) {
        return 'relative';
      } else {
        return 'relative md:ml-64';
      }
    },
  }
});
</script>

<style>
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #dbdbdb;
}
</style>
