/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 shadow;
}

.btn-primary {
  @apply bg-blue-600 text-white;
}

.btn-danger {
  @apply bg-red-600 text-white;
}

.btn-warning {
  @apply bg-yellow-600 text-white;
}

.btn-secondary {
  @apply bg-green-700 text-white;
}

.btn-submit {
  @apply btn-primary m-2;
}

.form {
  @apply m-4;
}

.form-label {
  @apply block text-gray-900 font-semibold text-sm mt-2 ml-2;
}

.form-input {
  @apply px-3 py-3 mx-2 mb-2 text-sm h-8 placeholder-gray-400 text-gray-800 relative bg-white border border-gray-300 outline-none focus:outline-none focus:ring w-full;
}

.form-checkbox-input {
  @apply px-3 py-3 mx-2 mb-2 h-5 placeholder-gray-400 text-gray-800 relative bg-white border border-gray-300 outline-none focus:outline-none focus:ring w-full;
}

.form-select {
  @apply mx-2 mb-2 w-full h-8 pl-3 pr-6 bg-white placeholder-gray-400 text-base text-gray-800 appearance-none border border-gray-300 outline-none focus:outline-none focus:ring;
}
