<template>
  <div class="login w-1/4 mx-auto">
    <h2 class="text-3xl p-4">Dashboard</h2>
    <router-link :to="{ name: 'ROSVIEW', params: { id: '126f4w897re' } }" class="btn btn-primary">Run Of Show 1</router-link>
  </div>
</template>

<script>
import router from '@/router';
import session from '@/store/session-store';
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Dashboard',
  components: {
  },
  data: function () {
    return {
      username: 'FooBar',
      password: 'aReallySecurePass',
      submitted: false,
    };
  },
  created: function () {
  },
  computed: {},
  methods: {
    handleSubmit() {
      const {username, password} = this;
      if (username && password) {
        session.login(username, password).then(() => this.redirectToLogin());
      }
    },
    redirectToLogin() {
      if (session.didLoginFail()) {
        router.push({name: 'LOGIN'}); // TODO may not be quite right
      } else if (!session.isLoggedIn()) {
        setTimeout(this.redirectToLogin, 100); // Keep trying to redirect if not logged in
      } else {
        router.push({name: 'ACCOUNT_HOME'});
      }
    },
  },
});
</script>
