<template>
  <div class="login">
    <h2>Logging Out...</h2>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import session from '@/store/session-store';
import router from '@/router';

export default defineComponent({
  name: 'Logout',
  created: function () {
    session.logout();
    router.push({name: 'HOME'});
  },
});
</script>
