<template>
  <a class="" href="#" v-on:click="toggleDropdown($event)" ref="btnDropdownRef">
    <slot name="toggle"/>
  </a>
  <div
      ref="popoverDropdownRef"
      class="bg-white text-base relative z-40 float-left py-2 list-none text-left shadow-lg"
      v-bind:class="{
      hidden: !dropdownPopoverShow,
      block: dropdownPopoverShow,
    }"
      style="min-width: 12rem"
  >
    <ul class="relative">
      <slot name="items"/>
    </ul>
  </div>
</template>
<script>
import {createPopper} from '@popperjs/core';

export default {
  data() {
    return {
      dropdownPopoverShow: false,
      instance: null,
    };
  },
  methods: {
    toggleDropdown: function (event) {
      event.preventDefault();
      if (this.dropdownPopoverShow) {
        this.dropdownPopoverShow = false;
        if (this.instance) {
          this.instance.destroy();
          this.instance = null;
          document.getElementById('app').removeEventListener('click', this.toggleDropdown, false);
        }
      } else {
        this.dropdownPopoverShow = true;
        this.instance = createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
          placement: 'bottom',
        });
        setTimeout(() => {
          document.getElementById('app').addEventListener('click', this.toggleDropdown, false);
        }, 250);
      }
    },
    onBlur: function () {
      console.log('Blurred');
    },
  },
};
</script>
