<template>
  <div :class="classes">
    <label :for="id" class="form-label">{{ label }}</label>
    <div class="relative inline-block w-full text-gray-700">
      <select
        :value="value"
        @input="$emit('update:value', $event.target.value)"
        :name="id"
        :id="id"
        class="form-select"
      >
        <option v-for="(text, key) in options" :key="key" :value="key">{{ text }}</option>
      </select>
      <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
          <path
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
            fill-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'FormSelectInput',
  props: {
    value: {
      type: [String, Number],
    },
    placeholder: {
      type: String,
      required: false,
    },
    options: {
      type: Object,
    },
    label: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    classes: function(): string {
      return '';
    },
  },
});
</script>
