<template>
  <div>
    <form @submit.prevent="$emit('submit', $event.target.value)">
      <slot></slot>
    </form>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'FormWrapper',
  props: {},
  data: function () {
    return {};
  },
  emits: ['submit'],
});
</script>
