<template>
  <div :class="classes">
    <label :for="id" class="form-label">{{ label }}</label>
    <input
      :value="value"
      @input="$emit('update:value', $event.target.value)"
      :id="id"
      type="text"
      class="shadow form-input"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'FormTextInput',
  props: {
    value: {
      type: [String, Number],
    },
    placeholder: {
      type: String,
    },
    label: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    classes: function () {
      return '';
    },
  },
});
</script>
