<template>
  <div class="">
    <label for="image_upload" class="form-label">Upload Image</label>
    <input
      id="image_upload"
      type="file"
      ref="file"
      class="shadow px-3 py-3 mx-2 mb-2 text-sm h-16 placeholder-gray-400 text-gray-800 bg-white border border-gray-300 outline-none focus:outline-none focus:ring w-full"
      v-on:change="handleFileUpload()"
    />
    <button class="btn btn-primary" v-on:click="submitFile">Submit</button>
  </div>
</template>

<script>
import { apiWrapper } from '@/api/wrapper';

export default {
  name: 'ImageUpload',
  props: {},
  emits: ['finished'],
  data: function() {
    return {
      file: undefined,
    };
  },
  methods: {
    submitFile() {
      apiWrapper
        .filesApi()
        .postUploadImage(this.file, true)
        .then(r => {
          r.data.text().then(json => {
            // Todo change file lookup to different version
            const json2 = JSON.parse(json);
            this.$emit('finished', json2.id);
            this.$refs.file.value = null;
          });
        });
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
  },
};
</script>
