<template>
  <form-select-input
    :name="id"
    :id="id"
    :value="value"
    @input="$emit('update:value', $event.target.value)"
    :placeholder="placeholder"
    :options="yearOptions"
    :label="label"
  >
  </form-select-input>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import FormSelectInput from '@/components/forms/FormSelectInput.vue';

export default defineComponent({
  name: 'YearSelectInput',
  components: {
    FormSelectInput,
  },
  props: {
    startYear: {
      type: Number,
      required: false,
    },
    endYear: {
      type: Number,
      required: false,
    },
    value: {
      type: Number,
    },
    placeholder: {
      type: String,
      required: false,
    },
    label: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  data: function() {
    return {
      currYear: new Date().getFullYear(),
    };
  },
  methods: {},
  computed: {
    yearOptions: function(): { [key: number]: number } {
      let startYear = 1850;
      let endYear = this.currYear + 2;
      if (this.startYear) {
        startYear = this.startYear;
      }
      if (this.endYear) {
        endYear = this.endYear;
      }

      const arr = new Array(endYear - startYear);

      const options: { [key: number]: number } = {};

      for (let i = 0; i < arr.length; i++) {
        const year = i + startYear;
        options[year] = year;
      }

      return options;
    },
  },
});
</script>
