<template>
  <div>
    <FormWrapper @submit="handleSubmit">
      <div v-if="params.rows">
        <div class="row" v-for="(r, index) in params.rows" :key="`group-${index}`">
          <div v-for="(f, index) in r.fields" :key="`field-${index}`">
            <div v-if="f.type == 'text' || f.type == 'string'">
              <form-text-input
                v-model:value="this[f.id]"
                :placeholder="f.placeholder"
                :label="f.label"
                :id="f.id"
                :width="calcWidth(r.fields)"
              />
            </div>
            <div v-else-if="f.type == 'number'">
              <form-number-input
                v-model:value="this[f.id]"
                :placeholder="f.placeholder"
                :label="f.label"
                :id="f.id"
                :width="calcWidth(r.fields)"
              />
            </div>
            <div v-else-if="f.type == 'select'">
              <form-select-input
                v-model:value="this[f.id]"
                :placeholder="f.placeholder"
                :label="f.label"
                :options="f.options"
                :id="f.id"
                :width="calcWidth(r.fields)"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2">
            <input type="submit" value="Submit" class="btn btn-submit" />
          </div>
        </div>
      </div>
    </FormWrapper>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import FormTextInput from '@/components/forms/FormTextInput.vue';
import FormNumberInput from '@/components/forms/FormNumberInput.vue';
import FormSelectInput from '@/components/forms/FormSelectInput.vue';
import FormWrapper from '@/components/forms/FormWrapper.vue';

export interface Field {
  id: string;
  label: string;
  options?: { [key: string]: string };
  placeholder: string;
  type: string;
  default: string | object;
}

export interface FieldGroup {
  fields: Field[];
}

export interface FormBuilderParams {
  rows: FieldGroup[];
  submitText: string;
}

export default defineComponent({
  name: 'FormBuilder',
  components: {
    FormTextInput,
    FormNumberInput,
    FormSelectInput,
    FormWrapper,
  },
  props: {
    params: {
      type: Object as PropType<FormBuilderParams>,
      required: true,
    },
  },
  data: function() {
    const rows = this.params.rows;

    const returnVal: { [key: string]: string | object } = {};

    for (const r in rows) {
      const row = rows[r];
      for (const f in row.fields) {
        const field = row.fields[f];
        returnVal[field.id] = field.default;
      }
    }

    return returnVal;
  },
  methods: {
    handleSubmit: function() {
      console.log('different submit');
    },
    calcWidth: function(fields: []) {
      return '1/' + fields.length;
    },
  },
});
</script>
