<template>
  <div class="">
    <h2 class="text-2xl">Form Builder</h2>
    <FormBuilder :params="computedConfig"></FormBuilder>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import FormBuilder, { FormBuilderParams, FieldGroup } from '@/components/forms/builder/FormBuilder.vue';
import { apiWrapper } from '@/api/wrapper';
import { SchemaDefinitions, SchemaResponseModel } from '@/api/generated';
import { errorHandler } from '@/errors';

export interface State {
  rows: FieldGroup[];
}

export default defineComponent({
  name: 'ModelFormGenerator',
  props: {
    model: {
      type: String,
    },
  },
  components: {
    FormBuilder,
  },
  data: function(): State {
    return {
      rows: [],
    };
  },
  created: function() {
    if (this.model) {
      apiWrapper
        .globalApi()
        .schemaLookupSchemaGet(this.model as SchemaDefinitions)
        .then(r => {
          this.buildConfig(r.data);
        })
        .catch(errorHandler);
    }
  },
  methods: {
    buildConfig: function(config: SchemaResponseModel) {
      const tmpRows = [];
      if (config.model_schema) {
        const schema = config.model_schema;
        if (schema.properties) {
          const properties = schema.properties;
          for (const key in properties) {
            const prop = properties[key];
            tmpRows.push({
              fields: [
                {
                  id: key,
                  label: prop.title || '',
                  type: prop.type || '',
                  placeholder: 'Todo',
                  default: prop._default || '',
                },
              ],
            });
          }
        }
      }
      this.rows = tmpRows;
    },
  },
  computed: {
    computedConfig: function(): FormBuilderParams {
      return {
        rows: this.rows,
        submitText: 'Submit',
      };
    },
  },
});
</script>
