<template>
  <!-- https://www.creative-tim.com/learning-lab/tailwind-starter-kit/documentation/dashboard Navbar -->
  <nav
      class="inline-block top-0 left-0 w-full fixed md:pl-64 z-10 bg-blue-700 md:flex-row md:flex-nowrap md:justify-start items-center h-14"
  >
    <div class="w-full h-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
      <!-- Brand -->
      <div>
        <div v-if="!isLoggedIn">
          <router-link class="link" :to="{ name: 'HOME' }"> Home</router-link>
          <router-link class="link" :to="{ name: 'ABOUT' }"> About Us</router-link>
        </div>
        <div v-else>
          <div class="text-white text-md uppercase md:inline-block font-bold mx-1 py-4 px-3 bg-blue-900">
            {{ name }}
          </div>
          <dropdown>
            <!-- TODO ADMINS ONLY -->
            <template v-slot:toggle>
              <a class="link" href="#">Admin</a>
            </template>
            <template v-slot:items>
              <li class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent">
                <router-link class="link-dropdown" :to="{ name: 'DASHBOARD' }">FeatureFlags</router-link>
              </li>
            </template>
          </dropdown>
        </div>
      </div>
      <!-- Form -->
      <form class="md:flex hidden flex-row flex-wrap items-center md:ml-auto mr-3 mt-1">
        <div class="relative flex w-full flex-wrap items-stretch">
          <span class="search-icon"><i class="fas fa-search"></i></span>
          <input type="text" placeholder="Search here..." class="searchbox focus:bg-grey-50"/>
        </div>
      </form>
      <!-- User -->
      <div v-if="!isLoggedIn">
        <router-link class="link" :to="{ name: 'LOGIN' }"> Login</router-link>
      </div>
      <div v-else>
        <ul class="flex-col md:flex-row list-none items-center md:flex">
          <UserDropdown/>
        </ul>
      </div>
    </div>
  </nav>

  <!-- End Navbar -->
</template>
<script>
import {defineComponent} from 'vue';
import Dropdown from '@/components/utils/Dropdown.vue';
import UserDropdown from '@/components/nav/UserDropdown.vue';
import session from '@/store/session-store';

export default defineComponent({
  name: 'Navbar',
  components: {
    Dropdown,
    UserDropdown,
  },
  data: function () {
    return {
      name: 'Test Name'
    }
  },
  props: {},
  methods: {},
  computed: {
    isLoggedIn: function () {
      return session.isLoggedIn();
    }
  },
});
</script>

<style lang="postcss" scoped>
.link {
  @apply text-white text-sm uppercase md:inline-block font-semibold mx-1 py-4 px-3;
}

.link-dropdown {
  @apply text-black text-sm md:inline-block font-semibold;
}

.searchbox {
  @apply w-full pl-10 mx-1 h-3 border-0 px-3 pb-3 pt-4 placeholder-gray-500 text-blue-900 relative bg-white rounded text-sm shadow-xl outline-none;
}

.searchbox:focus {
  @apply shadow-xl;
}

.search-icon {
  @apply z-10 pt-2 leading-none absolute text-center text-gray-500 bg-transparent rounded text-base items-center justify-center w-4 pl-4 py-1;
}

.router-link-exact-active {
  @apply text-gray-200 shadow-xl bg-blue-600 h-full;
}
</style>
