<template>
  <div>
    <Dropdown>
      <template v-slot:toggle>
        <span class="w-10 h-10 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full">
          <div
              class="w-full rounded-full align-middle border-none bg-red-500 shadow-lg h-10 text-xl py-2 text-center font-semibold"
          >
            AB
          </div>
        </span>
      </template>
      <template v-slot:items>
        <router-link class="link" :to="{ name: 'LOGOUT' }"> Logout</router-link>
      </template>
    </Dropdown>
  </div>
</template>
<script>
import Dropdown from '@/components/utils/Dropdown.vue';

export default {
  components: {
    Dropdown,
  },
  computed: {},
};
</script>

<style lang="postcss" scoped>
.link {
  @apply text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-800;
}
</style>
